HOST=0.0.0.0
# Para el deploy en render, no hace falta el port, ya que este inyecta su propia variable, y Stapi ya la lee en el archivo `config/server.ts` con `env.int('PORT', 1337)`
PORT=1337

APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database
DATABASE_CLIENT=sqlite
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db

# Cloudinary
CLOUDINARY_CLOUD_NAME=tobemodified
CLODUINARY_API_KEY=tobemodified
CLODUINARY_API_SECRET=tobemodified